%h3 Erstelle einen neuen Nutzer
= simple_form_for @user do |f|
  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} haben das Speicher verhindert:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  = f.input :foreign_id
  = f.input :name
  = f.button :submit, :class => 'btn primary'
