.row
  .span6
    %h3 User Informationen
    %p
      = @user.name
    %p
      = @user.info
  .span4
    %h4 Rollen
    %ul
      = render :partial => 'roles/badge', :collection => @user.roles
.row
  .span12
    %h4 User bearbeiten
    = simple_form_for @user, :remote => true do |f|
      = f.input :name
      = f.association :roles
      = f.button :submit, :class => 'btn primary small'
      = link_to 'Delete', @user, :confim => 'Are you sure?', :method => :delete, :class => "btn danger small"

