.row
  .span5
    = simple_form_for @role, :remote => true do |f|
      = f.input :name
      = f.button :submit, :class => 'btn primary'
      = link_to 'Delete', @role, :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => "btn danger"
  .span4
    %h4 Task related
    %ul
      - @role.all_tasks.each do |task|
        %li
          .task_container
            .task
            = task.name

