= semantic_form_for @role, :remote => true do |f|
  = f.inputs do
    = f.input :name

  = f.buttons do
    = f.commit_button :label => "Update"
.border
  %ul
    - @role.all_tasks.each do |task|
      %li
        .task_container
          .task
            = task.name

