= simple_form_for @role, :remote => true do |f|
  -if @role.errors.any?
    #error_explanation.alert-message.error
      %h2= "#{pluralize(@role.errors.count, "error")} prohibited this role from being saved:"
      %ul
        - @role.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    = f.input :name
    = f.input :weight, :hint => "Increse weight for importent roles."
    = f.button :submit, :class => 'btn primary'
    = link_to_function "Discard", "$('#roleform').hide().empty()", :class => "btn danger"
