!!!
%html{:lang => "de"}
  %head
    %meta{:charset => "utf-8"}/
    %title Rolecore
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    / Le styles
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    / Le fav and touch icons
    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.brand{:href => "/"} Rolecore
          .nav-collapse
            %ul.nav
              %li.active
                %a{:href => "/"} Übersicht
              %li
                = link_to "Nutzer", users_path
              %li
                = link_to "Rollen", roles_path
              %li.dropdown{:'data-dropdown' => "dropdown"}
                %a.dropdown-toggle{:'data-toggle' => "dropdown", :href => "#"} 
                  Erstellen
                %ul.dropdown-menu
                  %li
                    = link_to "Rolle", new_role_path, :remote => true, :method => :get
                  %li
                    = link_to "Aufgabe", new_task_path, :remote => true, :method => :get
              %li
                %a{:href => '#', :onClick => "planemanager.redraw(); return false;"} Aktualisieren
          / /.nav-collapse
    .frame
      = yield
